
.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 25%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.mn
  margin: 0 -20.5rem 
  padding: 2rem 20.5rem
.curso-main-container > .container
  overflow: visible
.tarjeta--acc
  background-color: #bad1ff
.acordion-modificado 
  .acordion__accion__btn--a
    transform: scale(.7)
    border-radius: 5px !important
    background-color: #3C1C74
    i 
      color: white
.acordion__activo
  background-image: url(../assets/curso/temas/acc.png)
  background-position: 100%
  background-repeat: no-repeat
  background-size: cover
.fa-heart::before
  content: url(../assets/curso/temas/heart.svg)

.tarjeta-citas
  position: relative
  &:before
    position: absolute
    content: url(../assets/curso/temas/comillas.png)
    top: -0px
    left: 30px
  &:after
    position: absolute
    content: url(../assets/curso/temas/comillas.png)
    bottom:  -30px
    right: 30px
    transform: rotate(180deg)


//FONDOS//
.bg-1
  background-image: url("../assets/curso/temas/bg-tema1-1.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0

.bg-1-1
  background-image: url(../assets/curso/temas/bg-tema1.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.bg-1-2
  background-image: url(../assets/curso/temas/bg-tema1-2.png)
  background-repeat: no-repeat
  background-size: contain
  background-position: center
.bg-2
  background-image: url(../assets/curso/temas/bg-tema2.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-2-1
  background-image: url(../assets/curso/temas/bg-tema2-2.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-2-2
  background-image: url(../assets/curso/temas/bg-tema2-3.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-3-1
  background-image: url(../assets/curso/temas/bg-tema3-1.svg)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-4
  background-image: url(../assets/curso/temas/bg-tema4-1.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-4-1
  background-image: url(../assets/curso/temas/bg-tema4-2.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.bg-4-2
  background-image: url(../assets/curso/temas/bg-tema4-3.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.fondo-tema4
  background-image: url(../assets/curso/temas/fondo-tema4.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 
.fondo-tema3
  background-image: url(../assets/curso/temas/fondo-tema3.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 0 0 


span.color-acento
  color: #A7F7DD !important
  font-weight: bold
span.color-botones
  color: #F7DF3F !important
.tarjeta-slyde-ed
  border-radius: 20px
  position: relative
  z-index: 0
  // margin: 20px
  // background-color: $white 
  &:before
    content: ''
    position: absolute
    background-color: #3a1b70
    width: 100%
    height: 60%
    z-index: -1
    top: 0
    left: 0
    border-radius: 20px
    transform: translateY(30%)
.tarjeta-ed
  border-radius: 20px
  box-shadow: 0px 3px 5px 0px rgba(17, 30, 97, 0.3)
.sombra
  box-shadow: 0px 3px 5px 0px rgba(17, 30, 97, 0.3)
.tarjete-gris
  background-color: #2c3e50
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: #7F4FC7
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #C5E5FE

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first
  &::before 
    background-color: #FFF0F2 !important
.crd--last
  &::before 
    background-color: #FFE0E3 !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
.titulo-principal__numero, .titulo-principal__numero:before
  background-color: #0F5FFE
.titulo-principal__numero span
  color: white
.slyder__btn
  border-radius: 5px
  background-color: transparent
  border: 3px solid #3C1C74
  i
    color: #3C1C74
.slyder__btn:hover 
  border-radius: 5px
  background-color: #3C1C74
  i
    color: white
.contenido__tarjeta 
  height: 100%
.container
  .row
    justify-content: center
